body {
  background-color: #ccc;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 100vh;
}

.header,
.main {
  border: 1px solid red;
}

/* header */

.header {
  grid-column: 2 / 3;
  grid-row: 1;
  background-color: #fff;
}

/* Side-bar */

.side-bar {
  grid-column: 1;
  grid-row: 1 / 3;
  background-color: #3b82f6;
  padding: 15px;
}

.main {
  grid-column: 2;
  grid-row: 2 / 3;
  background-color: #ccc;
}

.side-bar img {
    width: 10%;
}

.dashboard{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}

.dashboard h2 {
    color: #ffffff;
    font-size: 25px;
    padding-left: 15px;
    margin: 0;
}
nav ul {
    padding: 0;
}
.side-bar nav ul li img {
    width: 7%;
}
nav ul li{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 4px;
    margin-bottom: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 4px;
    padding-left: 25px;
}

.nav-bottom {
  margin-top: 30px;
}

/* Main */

.main {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.projects, .notifications {
  border: 2px solid green;
}